@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

:root{
    --cor0: #F2F2F2;
    --cor1: #0455BF;
    --cor2: #056CF2;
    --cor3: #0439D9;
    --cor4: #3c8bf3;
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    background-color: var(--cor0);
}
header {
    background-color: var(--cor0);
    width: 100%;
    height: 100px;
    display: flex;
}

header > .retangulo{
    background-color: var(--cor1);
    margin-left: 50%;
    width: 50%;
    height: 40%;
    padding: 2px;
    border-radius: 0px 0px 0px 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px 12px 0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    height: 50px;
    background: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > li{
    list-style: none;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--cor2);
}

nav a i {
    margin-bottom: 5px;
    transition: color 0.3s;
}

nav a:hover i {
    color: var(--cor2); 
}

section{
    margin: 0 11%;
    padding: 30px;
    background: var(--cor1);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(68,68,68,0.2);
}

.check h1{
    display: inline;
    margin-left: 55px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.check label{
    font-weight: bold;
    display: inline;
    color: white;
    font-size: 16px;
    margin-bottom: 30px; 
} 

.check input{
    display: inline;
    margin-bottom: 40px;
}

#idaevol{
    margin-left: 30px;
}

#somenteida{
    margin-left: 10px;
}

.inputs{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon2{
    display: none;
}

.origem{
    background-color: white;
    display: inline-flex;
    margin-left: 0px;
    height: 60px;
    width: 140px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    padding: 0px 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.origem > #ori{
    outline: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.destino{
    background-color: white;
    display: inline-flex;
    height: 60px;
    width: 140px;
    border-radius: 0px 6px 6px 0px;
    outline: none;
    border-left: solid 1px black;
    padding: 0px 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.destino > #des{
    outline: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.datai{
    background-color: white;
    display: inline-flex;
    margin-left: 7px;
    height: 60px;
    width: 140px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    padding-left: 15px;
    font-size: 1em;
    padding: 0px 15px;
    border: 1px solid #ccc;
    justify-content: center;
}

.datai > #dataida{
    outline: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.datav{
    background-color: white;
    display: inline-flex;
    height: 60px;
    width: 140px;
    border-radius: 0px 6px 6px 0px;
    outline: none;
    border-left: solid 1px black;
    padding: 0px 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    justify-content: center;
}

.datav > #datavol{
    outline: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pass{
    background-color: white;
    display: inline-flex;
    margin-left: 7px;
    height: 60px;
    width: 140px;
    border-radius: 6px;
    outline: none;
    border-left: solid 1px black;
    padding: 0px 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pass > #passagem{
    outline: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.botao{
    display: inline;
    margin-left: 9px;
    height: 60px;
    width: 110px;
    border-radius: 50px;
    border: none;
    background: var(--cor2);
    box-shadow: 0px 4px 8px rgba(68,68,68,0.2);
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.botao:hover{
    background-color: var(--cor4);
}

main{
    background: var(--cor2);
    padding: 30px;
    margin: 0px;
}
@media screen and (max-width: 1050px) {

nav {
    flex-wrap: wrap;
}

nav a {
flex: 1;
margin: 5px;
}

.icon1{
display: none;
}

.icon2{
display: block;
}

.inputs {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
position: relative;
margin-bottom: 20px;
}

.origem,
.destino,
.datai,
.datav,
.pass {
width: 200px;
max-width: 300px;
margin: 5px;
border-radius: 6px;
}

.botao {
width: 100%;
max-width: 330px;
margin: 5px;
}

section {
margin: 0px 20px;
padding: 50px 10px 20px 10px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
position: relative;
}

section h1 {
font-size: 18px;
margin-bottom: 15px;
position: absolute; 
top: 0px;
margin: 0px auto;
padding: 10px;
}
}

@media screen and (max-width: 600px) {
nav {
flex-wrap: wrap;
}

nav a {
flex: 1;
margin: 5px;
}

.icon1{
display: none;
}

.icon2{
display: block;
}

.inputs {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
position: relative;
margin-bottom: 20px;
}

.origem,
.destino,
.datai,
.datav,
.pass {
width: 100%;
max-width: 300px;
margin: 5px;
border-radius: 6px;
}

.botao {
width: 100%;
max-width: 330px;
margin: 5px;
}

section {
margin: 0px 20px;
padding: 50px 10px 20px 10px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

section h1 {
font-size: 18px;
margin-bottom: 15px;
position: absolute; 
top: 0px;
margin: 0px auto;
padding: 10px;
}
}