*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #0057A3;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #0a0a0a;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #050505;
    
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #0c0c0c;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;

}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none; 
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #0e0d0d;

}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #0a0a0a;
    font-size: 1.2em;
    top: 20px;
}
.lembrar{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #0f0f0f;
    display: flex;
    justify-content: center;
}
.lembrar label input{
    margin-right:  3px;
    
}
.lembrar label a{
    color: #000000;
    text-decoration: none;

}
.lembrar label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #007BFF;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
button:hover {
    background-color: #0056b3;
    transition: .5s;
}
.registrar{
    font-size: .9em;
    color: #111111;
    text-align: center;
    margin: 25px 0 10px;
}
.registrar p a{
    text-decoration: none;
    color:#020202;
    font-weight: 600;

}
.registrar p a:hover{
    text-decoration: underline;

}